@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* PC用（ナビゲーションを横並び） */
@media screen and (min-width: 768px) {
    body {
        width: 35em;
        margin: 0 auto;
        
        font-size: 16pt;
    }
    
    img {
        max-height: 12em;
        width: auto;
        margin: auto;
        display: block;
    }
}

/* スマホ用（ナビゲーションを縦並び） */
@media screen and (max-width: 767px) {
    body {
        /* width: 35em; */
        /* margin: 0 auto; */
        
        font-size: 14pt;
    }

    img {
        max-height: 12em;
        max-width: 100%;
        height: auto;
        width: auto;
        margin: auto;
        display: block;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, strong {
    font-weight: 500;
}

rt {
    font-weight: 500;
    user-select: none;
}

h1 {
    text-align: center;
}

p,li {
    line-height: 2;
}

a {
    text-decoration: none;
}
